.checkout-header {
    width: 80%;
    margin: auto;
}

h1.detail {
    margin-left: 0px;
    padding: 0px;
    color: black;
}

.checkout-content{
    width: 80%;
    margin: auto;
    background-color: #fdf5e2;
}


.checkout-itemstotal {
    width: 100%;
    background-color: #fdf5e2;
    margin-bottom: 50px;   
}

h1.checkout-title {
    color:black;
}

.checkout-container{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    justify-content: center;
    
}

.checkout-items{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 50px;
}

.checkout-oneitem{
    width: 100%;
    /* height: 30%; */
    /* border-top: solid black; */
    padding-top: 10pt;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.checkout-item-image{
    width: 30%;
    /* border: solid black 1pt; */
    padding-right: 10px;
    border-right: 1pt black solid;
}
ul {
    list-style-type: none;
    padding: 0;
}
.checkout-item-description{
    width: 35%;
    /* centering */
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}

.checkout-item-quantity{
    width: 20%;
    /* centering */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.checkout-item-price{
    width: 8%;
    /* centering */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

hr{
    width: 95%;
    background: black;
    margin-bottom: 30px; 
}

/* Payment Info */
.checkout-paymentinfo{
    width:38%;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFC0CB;
}

.checkout-payment-container{
    width: 90%;
    margin: auto;
    padding-bottom:50px; 
}

.checkout-payment-row1 {
    display: flex;
    flex-wrap: flex;
    flex-direction: column;
}

h2.checkout-h2{
    margin: 0 0 10px 0;
    padding-top: 10px;
    color: black;

}

.checkout-payment-button{
    background-color: #50567D;
    color: white;
    padding: 15px;
    margin-top: 20px;
    border: none;
    width: 95%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

input[type=text] {
    width: 90%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #50567D;
    border-radius: 5px;
  }

/* End of Payment */

@media only screen and (max-width: 768px) {
    .checkout-items{
        width: 100%;
    }
    .checkout-paymentinfo{
        width:100%;
    }

    .checkout-item-image{
        border-style: none;
        width: 90%;
    }
    .checkout-item-description{
        text-align: center;
        width: 100%;
    }

    .checkout-item-quantity{
        width: 40%;
    }
    
    .checkout-item-price{
        width: 100%;
    }
    
    
}