/* Basic Element */

.color-palette{
    max-width: 100px;
}

figure{
    display: inline-table;
}



body {
  font-family: sans-serif;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

h2 {
    font-family: 'Oswald', sans-serif;
    margin-top: 1rem;
}

h3 {
  font-family: 'Oswald', sans-serif;
  margin-top: 1rem;
}

h4 {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0.25rem;
}

p {
    font-family: 'Nanum Gothic', sans-serif;
  margin-top: 0;
}

label{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 900;
    margin-right: 10px;
}

input[type="text"]{
    font-family: 'Nanum Gothic', sans-serif;
}
a:active{
    color:#50567D;
}
nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}


/* 
flex containers
*/


.product-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  width: 70%;
}

.product-container img{
  max-width: 100px;
  height: auto;
}
.product-item{
flex-shrink: 2;
margin: 10px;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  font-family: 'Nanum Gothic', sans-serif;
  padding: 0.5rem;
  color: #000000;
  border-style: solid;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: #009de04d;
}

.button-nav-white {
    display: inline-block;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 0.5rem;
    color: #ffffff;
    border-style: solid;
    border: #ffffff;
    text-decoration: none;
    transition-property: background-color; 
    transition-duration: 0.5s;
}
  
.button-nav-white:hover, .button-nav-white:focus {
    background-color: #009de04d;
}

button{
    display: block;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 0.5rem;
    color: #000000;
    background-color: #ffffff00;
    border-style: solid;
    border-color: #000000;
    border-width: 1.5px;
    text-decoration: #ffffff1f;
    transition-property: background-color; 
    transition-duration: 0.5s;
}

button:hover, button:focus{
    background-color: #009de04d;
}
button[type="reset"]:hover{
    background-color: rgba(242, 129, 150, 0.253);
}
/* 
  TEXT ELEMENTS -------------------
*/
ol li{
  color: #50567D;
}

pre {
  padding-left: 30px;
  margin: 0px;
}

/* 
  COMBINED ELEMENTS -------------------
*/

/*
main navigation
*/
.f-left {
  float: left;
}
.main-nav {
    display: inline-block;
    margin: auto;
    margin-top: 10px;

}
.main-nav a{
  color: #444444;
  display: inline-block;
  margin: auto;
}



/*Home css*/

.row{
  width: 100%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.col-35{
  width: 35%;
  float:left;
  background-color: pink;
}
.col-65{
float: left;
width: 65%;
}
.col-65 img{
width: 100%;
height: auto;
}

/*Product css*/
.center-text {
  text-align: center;
}

.merchandise-container{
  display: flex;
  flex: row;
  flex-wrap: wrap;
  border: black solid 1px;
  justify-content: center;
}
.merchandise-item{
  flex-shrink: 1;
  margin-top: 5px;
}

.merchandise-img{
  border-bottom-style: solid;
  padding:0 0 10px 0;
  border-bottom-width: 5px;
  width: 180px;
  height: 180px;

}
.merchandise-fig{
  display: inline-block;
  position: relative;
  margin: 0 20px 0 0;
  text-align: center;
}
.merchandise-caption{
  text-align: center;
  padding: 0 0 10px 0;
  font-family: 'Oswald', sans-serif;
}
.add-cart-btn{
  width: 180px;
  margin-bottom: 5px;
}
