.productdetail-content {
    width: 80%;
    margin: auto;
}
.productdetail-header {
    width: 80%;
    margin: auto;
}
.product-detail-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px;
    background-color: #fdf5e2;

}



h1.detail {
    padding: 0px 0 30px 0;
    border-bottom: black solid;
    margin: 40px 0 20px 0;
    color: black;
    /* margin: auto; */
    padding-top: 20px;
}
h2.productdetail-h2{
    color: #444444;
    margin: 0;
    padding-left: 43px;    
}


.product-detail-item{
    width: 30%;
    max-width: 500px;
}
.product-detail-description {
    width: 60%;
}

li {
    list-style-type:none;
    padding: 3px;
}

.product-detail-item img{
    max-width: 100%;
}

.product-detail-item p{
    margin-left: 50px;
}


.purchase-btn {
    float:left;
    text-decoration: none;
    color: #00196b;
    border-style: solid;
    border-color: #00196b;
    margin-top: 5px;
    margin-left: 40px; 
    padding: 5px 20px;

}

.productdetail-commentsection{
    width: 100%;
    padding: 0px -5px 20px 20px;
    margin: auto;
    border-bottom: black solid;
}

label {
    text-transform: uppercase;
    color: black;
    font-size: 1.3em;
    display: block;
    margin-bottom: 20px;
}

input[type=text]{
    width: 100%;
    max-width: 20rem;
    border: 0;
    font-size: 1.1em;
    outline: 0;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.productdetail-comment-button{
    display: inline-block;
    color: black;
    font-size: 1.1em;
    background-color: rgba(246, 242, 236, 0);
    border-radius: 0.1em;
    border-radius: 2em;
    border: 0.1em solid #50567D;
    padding: 0.5em 3em;
 
}
 /* Border bottom only */
/* https://stackoverflow.com/questions/21807454/textfield-with-only-bottom-border */


@media only screen and (max-width: 768px) {
    .product-detail-item{
        width: 100%;
        margin: auto;
    }
    .product-detail-description {
        width: 100%;
        font-size: 0.9em;
    }
    h2.productdetail-h2 {
        text-align: center;
        padding: 0;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    .purchase-btn {
        margin: 0;
    }
    h1 {
        font-size: 1.5em;
    }
    
}

@media only screen and (max-width: 375px) {
    

}
@media (max-width:30em) {
  
}


/* @media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 375px) {
    

}
@media (max-width:30em) {
  
} */